
VITE_AZURE_CLIENT_ID=TU_CLIENT_ID_AZURE
VITE_AZURE_TENANT_ID=TU_TENANT_ID
VITE_AZURE_AUTHORITY=https://login.microsoftonline.com/TU_TENANT_ID
VITE_AZURE_SCOPE=api://TU_CLIENT_ID/read.write

VITE_COGNITO_ISSUER_URI=https://cognito-idp.TU_REGION.amazonaws.com/TU_POOL_ID
VITE_COGNITO_CLIENT_ID=TU_CLIENT_ID_COGNITO
VITE_COGNITO_SCOPE=phone openid email
VITE_COGNITO_HOSTED_UI=https://TU_DOMINIO.auth.TU_REGION.amazoncognito.com
VITE_COGNITO_REDIRECT_URI=http://localhost:5173
VITE_COGNITO_LOGOUT_URI=http://localhost:5173

VITE_MS_USUARIOS_URL=http://localhost:8081/api/v1/usuarios
VITE_MS_PRODUCTOS_URL=http://localhost:8082/api/v1/productos
VITE_MS_CARRITO_URL=http://localhost:8083/api/v1/carrito
VITE_MS_ORDENES_URL=http://localhost:8084/api/v1/ordenes
